@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Krona One', sans-serif;
}

:root{
    --main-color: #5e5eff;
    --secondary-color: white;
    

}

menu{
    position: fixed;
    width: 13rem;
    height: 64rem;
}

.page-title a{
    text-decoration: none;
}
.nav-bar{
    position: absolute;
    width: 13rem;
    height: 58rem;
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

#menu li{
    display: inline-block;
    border: #5e5eff solid 1px;
    padding: 5px;
    width: 100%;
}

#menu li:hover{
    background-color: var(--secondary-color);
    border-radius: 5px;
}

#menu li:hover a{
    color: var(--main-color);
}

#menu a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

main{
    position: absolute;
width: 90.563rem;
height: 62rem;
margin-left: 13.438rem;
}

main div{
    margin-top: 1rem; 
}

#experience-text ul{
    margin-left: 2rem;
    margin-top: 1rem;
}

#experience-text{
    /* border: #5e5eff solid 1px; */
    display: flex
}

.text-container{
    /* border: green solid 2px; */
    width: 78%;
}
.text-container p{
    margin-top: 1rem;
}

.experience-date{
    /* border: black solid 2px; */
    margin-left: auto;
}

.text-container figure img{
    /* border: black solid 3px; */
    width: 100%;
    height: 100%;
}

.text-container figure{
    /* border: red solid 3px; */
    width: 100%;
}

#about-me{
    display: flex;
    border: black solid 2px;
    height: 50%;
}

.about-me_text{
    width: 40%;
    border: #5e5eff solid 2px;
}

.about-me_text p{
    margin-bottom: 1rem;
}
.about-me_text h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#about-me figure{
    border: orange solid 2px;
    width: 60%;
    margin-top: 1rem;
    align-items: center;
}
#about-me figure img{
    border: fuchsia solid 2px;
    height: 100%;
    padding-left: 10rem;
}


